/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.diarybar {
  background: #F4F4F4;
  padding: 1.5%;
  border: 1px solid lightpink;
}
.diarytext {
  background: white;
  border: 1px solid #D8D8D8;
  padding: 3%;
}
.ui-diary-left {
  background: #414D64 !important;
  left: -27px;
  max-height: 100%;
  height: 100%;
  padding: 2% 0;
}
.ui-diary-left a {
  text-decoration: none;
}
.ip .ipAdminContentWrapper {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
}
#diaryrte,
#diarytitle,
#diarysetting {
  background: #FAFAFE;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 1% !important;
  width: 100%;
  -webkit-box-shadow: 0px 1px 1px #cabdbd;
  -moz-box-shadow: 0px 1px 1px #cabdbd;
  box-shadow: 0px 1px 1px #cabdbd;
  padding: 0.5%;
}
#diarytitle {
  width: 100%;
  background: #FAFAFE;
}
#diarysetting {
  width: 29%;
}
.ipsGrid {
  padding: 2% !important;
}
.ip .ipModuleAdministrators {
  padding-left: 2% !important;
}
.ip .ipModuleAdministrators ._menu ul a {
  padding: 1px 20px;
}
