/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.diarybar {
  background: #F4F4F4;
  padding: 1.5%;
  border: 1px solid lightpink;
}
.ip .nav > li > a {
  border-radius: 0px !important;
}
.ip .nav > li > a > img {
  max-width: 100%;
}
.diarytext {
  background: white;
  border: 1px solid #D8D8D8;
  padding: 3%;
}
.ui-diary-articlepane {
  border-right: 1px solid #00B9F1;
  height: 74%;
  padding: 7% 5%;
}
.ui-diary-articlepane a {
  color: white;
}
.ui-diary-richtext {
  padding: 2%;
  overflow: scroll;
}
.articleListPane #ui-diary-calendar {
  border-right: 1px solid #d8d8d8;
  text-align: center;
}
.articleListPane li {
  list-style: none;
  border-bottom: 1px solid #C7D3D6;
  padding: 0%;
  width: 97%;
  border-right: 1px solid #C7D3D6;
}
.ui-diary-richtext-pane {
  padding: 6px 0px;
  color: white;
}
.ui-diary-richtext-pane h2 {
  color: black;
}
.ui-diary-topbar {
  height: 64px;
  background: #12A0CE;
}
.ui-diary-left {
  background: #414D64 !important;
  max-height: 100%;
  height: 100%;
  padding: 0px !important;
}
.ui-diary-left a {
  text-decoration: none;
  color: #bbb2c2;
  height: 64px;
}
.ui-diary-left ul li {
  text-align: center;
}
.ui-diary-left ul li :hover {
  color: black;
}
.ui-diary-left ul li p {
  color: white;
  font-weight: bold;
  font-size: 12px;
}
.ip .ipAdminContentWrapper {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
}
.ipsGrid {
  padding: 2% !important;
}
.ip .ipModuleAdministrators {
  padding-left: 0% !important;
}
.ip .ipModuleAdministrators ._menu ul a {
  padding: 1px 20px;
}
.killPadding {
  padding: 0px !important;
}
